.header {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: transparent;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  width: 70px;
  object-fit: contain;
  margin: 0 20px;
}

.header__logoContainer {
  flex: 1;
}
.header__burgerMenuWrapper {
  margin-right: 20px;
}
.header__accountMenuWrapper .MuiIconButton-label,
.header__notificationMenuWrapper .MuiIconButton-label,
.header__burgerMenuWrapper .MuiIconButton-label {
  color: white;
}
