.polls_card{
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.polls_card > .MuiPaper-elevation1{
    box-shadow: none;
}