.search {
  /* margin-top: 40px; */
}
.search__inputWrapper {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  border-radius: 5px;
}

.search__iconWrapper .MuiSvgIcon-root {
  color: teal;
}
.search__form {
  display: flex;
  justify-content: center;
  position: fixed;
  flex-direction: column;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
}

.search__inputWrapper input {
  width: 600px;
  height: 50px;
  font-size: 20px;
  border: none;
  margin-left: 10px;
}
.search__inputWrapper input:focus {
  outline-width: 0;
}

.search__iconWrapper {
  margin-right: 10px;
}

.search__suggestionBox {
  position: absolute;
  width: 100%;
  top: 100%;
  background-color: white;
  display: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}
.search__barRemoveBorder {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.search__suggestionBoxDisplay {
  display: block;
}
.search__suggestionBox > div {
  cursor: pointer;
}
.search__suggestionBox > div:hover {
  background-color: #80868b36;
}
.search__suggestionBox > div > a {
  display: block;
  color: black;
  padding: 15px;
}
.search__suggestionBox > div > a:hover {
  text-decoration: none;
  color: black;
}

.search__seemore {
  padding: 5px 10px;
  display: block;
  text-align: end;
}
