.wmcards {
  background-color: #f9f9f9;
  border-radius: 5px;
  flex: 0 0 24%;
  margin-right: 10px;
}
.wmcard_head {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 0;
}
.wmcard_body {
  position: relative;
}
.wmcard_body > .MuiButtonBase-root {
  position: absolute;
  right: 10px;
  background-color: #ffffff6e;
  top: 10px;
  transition: all 1s;
}
.wmcard_body > .MuiButtonBase-root:hover {
  position: absolute;
  right: 10px;
  background-color: white;
  top: 10px;
}
.wmcard_headTitle {
  flex: 1;
}
.wmcard_headTitle > h5 {
  margin-bottom: 0;
}
.wmbody_image {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.wmbody_description {
  padding: 20px 20px;
  position: absolute;
  bottom: -120px;
  background-color: white;
  transition: all 1s;
  opacity: 0;
  visibility: hidden;
}
.wmDescription_display {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}

.wmcard_icon {
  opacity: 0;
  transition: all 1s !important;
}
.wmIcon_display {
  opacity: 1;
}
