.profilecard__head {
  display: flex;
  position: relative;
  align-items: center;
  padding: 20px;
  border-bottom: 0.5px solid #d3d3d363;
}
.profilecard_headLeft {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.profilecard_headRight {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 10px;
  top: -40px;
}
.profilecard_headRight > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profilecard_main {
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 10px;
  margin-bottom: 10px;
}
.profilecard__body {
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 0.5px solid #d3d3d363;
}
.profile__footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.profile__userStats,
.profile__userStats > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__userStats > div {
  margin-bottom: 20px;
}
