.wmcarousel__wrapper {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wmcarousle_control {
  position: inherit;
}
.wmCarousel_controllerWrapper {
  text-align: end;
}

.wmbody__descriptionPara{
  margin-bottom: 20px;
}