/* If you update this css it will applied to entire web  */
/* Use only for settiing global css */
.app {
  background-image: url("./assets/images/wm.jpeg");
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.contentGlobal {
  padding: 60px 0;
  border-bottom: 1px solid rgb(211 211 211 / 40%);
}

.owl_controls_Wrapper {
  margin-top: 20px;
  text-align: end;
}
