.footer {
  width: 100%;
  color: white;
  display: flex;
  background-color: #0000007d;
  padding: 20px 0;
}
.footer__AuxLink {
  padding: 0;
  flex: 1;
  margin-left: 20px;
  margin-bottom: 0;
}
.footer__AuxLink li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}
.footer__AuxLink li a {
  color: white;
  text-decoration: none;
}

.footer__copywrite{
    margin-right: 20px;
}
.footer__copywrite > p{
    margin-bottom: 0px;
}